@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
    box-sizing: border-box;
    font-family: "Poiret One", sans-serif;
}

body{
    background: url(./Asset/background.jpg) 50%/cover no-repeat ;
    height: 95vh;
}


.header{
    color: #f1eefa;
    text-align:  center;
    position: relative;
    top:7.5em;
}

h1{
    font-size: 4rem;
    margin-bottom: 0;
}
p{
    font-size: 1.5rem;
}

#main-cont{
    display:flex;
    margin: 8em auto;
    width: 1600px;
    height: 350px;
    justify-content: center;
    align-items: center;    
}


.drum{
    display: flex;
    width: 120px;
    height: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000099;
    border-radius: 8px;
    margin-left: 1em;
    transition:all 30ms;
}

.letter-tag{
    font: 4rem bold;
    color:#FDBB30;
    margin-bottom: 0;
    padding-bottom: 0;
    
}

.drum-type{
    font-size:1.5rem;
    color:#f1eefa;
}

.key-pressed{
    transform: scale(0.92);
    background-color: rgb(16, 16, 16);
}

